:root {
    font-family: sans-serif;
    --prim-color: black;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: var(--prim-color);
    text-decoration: none;
}

textarea:focus {
    outline: none;
}

.std-link {
    color: rgb(38, 0, 255);
}
